// fonts
$default-fonts: Arial, sans-serif
//=sans
	font-family: 'Open Sans', $default-fonts
+font('Museo Sans Regular', 'MuseoSansRegular')
+font('Museo Sans Black', 'MuseoSansBlack')
=museo
	font-family: 'Museo Sans Regular', $default-fonts
=museo-b
	font-family: 'Museo Sans Black', $default-fonts

// colors
$white: #ffffff
$black: #1e1e1e
$dimgrey: dimgrey
$orange: #ff8400
$grey: #6c6c6c
$orange-dark: #f26924
$grey-light: #cecdcd
$grey-text: #434444


/* ===================================
	 Main Styles
	 =================================== */
body
	position: relative
	min-width: 320px
	font-size: 16px
	font-family: 'PT Sans', $default-fonts
	color: $grey-text
	font-weight: normal
	line-height: 1.857143

.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	//padding-bottom: 40px

.container
	+container
	//transition: all 0.3s
	
.main
	position: relative
	z-index: 1
	min-height: 100%
	transition: all 0.5s
	//transform: translate3d(0,0,0)
	
	
/* Helpers
	----------------------------------- */
button
	background-color: transparent

a:hover, a:focus
	text-decoration: none

a
	color: inherit
	text-decoration: none

table
	vertical-align: top

img
	vertical-align: top

.icon
	display: inline
	vertical-align: middle

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.cfx
	+pie-clearfix
	
svg:not(:root)
	overflow: hidden

// *
// 	+selection
// 		color: #fff
// 		background-color: $red



/* ===================================
	 Header
	 =================================== */
.header
	pointer-events: none
	position: fixed
	z-index: 101
	top: 0
	left: 0
	right: 0
	padding-top: 33px
	transition: all 0.5s
	+pie-clearfix
	+r(1023)
		pointer-events: all
		padding-top: 8px
		padding-bottom: 8px
		background-color: #ff7b38
	&__container
		position: relative
	&.is-active
		.logo
			&__img
				.icon
					color: $orange-dark
					transform: scale(1,1)
			&__text
				display: none
	&__phone
		display: none
		font-size: 0
		&-text
			+museo
			font-size: 16px
			color: #ffffff
			line-height: 1
			vertical-align: middle
		.icon
			margin-right: 10px
			font-size: 21px
			color: #ffb238
			vertical-align: middle
		+r(1023)
			display: block
			float: right
			margin-top: 8px
			margin-right: 13px
			
	
.logo
	pointer-events: auto
	float: left
	font-size: 0
	+pre(10px)
	+r(1023)
		+pre(33px)
	&__link
		display: block
	&__img
		display: inline-block
		vertical-align: top
		.icon
			font-size: 58px
			color: #ffffff
			transform: scale(1.15,1.15)
			transition: all 0.5s
			+r(1023)
				font-size: 36px
				transform: scale(1,1)
	&__text
		overflow: hidden
		position: relative
		display: inline-block
		margin-top: 16px
		margin-left: 12px
		vertical-align: top
		+r(1023)
			display: none
		.icon
			font-size: 20px
			color: #3f2120
			transition: all 0.5s
		
.btn
	overflow: hidden
	position: relative
	display: inline-block
	padding: 18px 40px 14px
	+museo
	font-size: 14px
	color: $white
	line-height: 1
	text-transform: uppercase
	border: 2px solid $orange
	border-radius: 25px
	&:after
		content: ''
		position: absolute
		z-index: -1
		left: 0
		top: 0
		bottom: 0
		width: 0
		border-radius: 20px
		background-color: $orange
		transition: all 0.3s
	&:hover
		&:after
			width: 105%
		
.navigation
	pointer-events: auto
	position: relative
	z-index: 11
	float: right
	padding-top: 22px
	font-size: 0
	height: 100%
	+museo
	transform: translateZ(0)
	+gutter
	+r(1199)
		display: none
	&__foot
		display: none
		position: absolute
		left: 0
		right: 0
		bottom: 26px
		padding-left: 115px
	&__btn
		margin-bottom: 26px
		+museo-b
		font-size: 13px
		background-color: #ffba00
		border: 2px solid #ffba00
		transition: all 0.2s
		&:after
			content: none
			display: none
		&:hover
			background-color: $orange-dark
			border-color: $orange-dark
	&__close
		display: none
		position: absolute
		z-index: 1
		top: 20px
		right: 20px
		width: 27px
		height: 27px
		cursor: pointer
		&:before,
		&:after
			content: ''
			position: absolute
			z-index: 1
			left: 0
			top: 50%
			margin-top: -1px
			background-color: #1e1e1e
			width: 100%
			height: 3px
			transform: rotate(45deg)
		&:after
			transform: rotate(135deg)
	&__link
		position: relative
		display: inline-block
		font-size: 16px
		color: $white
		line-height: 1
		& + &
			margin-left: 40px
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			width: 0
			height: 2px
			background-color: #ffffff
			transition: all 0.3s
		&:hover
			&:before
				width: 100%
	&.is-mod
		background-color: #f6f6f6
		position: fixed
		top: 0
		right: -420px
		bottom: 0
		width: 420px
		padding-bottom: 100px
		flex-direction: column
		justify-content: center
		align-items: center
		transition: right 0.3s
		&.is-active
			display: flex !important
			right: 0
			transition: right 0.3s
	&.is-mod &__foot
		display: block
	&.is-mod &__close
		display: block
	&.is-mod &__link
		position: relative
		top: 50px
		display: inline-block
		margin-left: 0
		padding: 20px 30px
		font-size: 20px
		text-transform: uppercase
		color: #1e1e1e
		opacity: 0
		transition: all 0.2s
		&:hover
			color: $orange
		&:before
			display: none
	&.is-mod.is-active &__link
		animation: anim-top 0.6s forwards
		&:nth-child(3)
			animation-delay: 0.15s
		&:nth-child(4)
			animation-delay: 0.3s
		&:nth-child(5)
			animation-delay: 0.45s
		&:nth-child(6)
			animation-delay: 0.6s
		&:nth-child(7)
			animation-delay: 0.75s
		
@keyframes anim-top
	0%
		opacity: 0
		top: 50px
	100%
		opacity: 1
		top: -25px

.hamburger
	pointer-events: auto
	-webkit-tap-highlight-color: transparent
	display: none
	padding: 10px
	position: absolute
	z-index: 10
	right: 0
	cursor: pointer
	transition-property: opacity, -webkit-filter
	transition-property: opacity, filter
	transition-property: opacity, filter, -webkit-filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 12px 0 0
	overflow: visible
	+r(1023)
		display: block
		float: left
		position: relative
		right: auto
		margin-top: 1px
		margin-left: 3px
	&__box
		width: 23px
		height: 16px
		display: block
		position: relative
	&__inner
		display: block
		top: 50%
		margin-top: -1px
		width: 23px
		height: 2px
		background-color: $orange-dark
		position: absolute
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform, -webkit-transform
		transition-duration: 0.15s
		transition-timing-function: ease
		+r(1023)
			background-color: #ffffff
		&::before, &::after
			width: 23px
			height: 2px
			background-color: $orange-dark
			position: absolute
			transition-property: -webkit-transform
			transition-property: transform
			transition-property: transform, -webkit-transform
			transition-duration: 0.15s
			transition-timing-function: ease
			+r(1023)
				background-color: #ffffff
		&::before, &::after
			content: ""
			display: block
		&::before
			top: -7px
		&::after
			bottom: -7px
	&_spin &__inner
		transition-duration: 0.3s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
		&::after
			transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
	&.is-active &__inner
		-webkit-transform: rotate(225deg)
		transform: rotate(225deg)
		transition-delay: 0.14s
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		&::before
			top: 0
			opacity: 0
			transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
		&::after
			bottom: 0
			-webkit-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
	

/* ===================================
	 Footer
	 =================================== */
.footer
	position: fixed
	z-index: 5
	left: 0
	right: 0
	bottom: 0
	padding-bottom: 31px
	transition: all 0.5s
	&__container
		+gutter
	+r(1023)
		position: absolute
		z-index: 1
		bottom: auto
		top: 480px
		transition: none
	&.is-hidden
		visibility: hidden
		opacity: 0
		pointer-events: none
		transform: scale(0.8)
	&__mouse
		position: absolute
		z-index: 1
		bottom: 35px
		left: 50%
		margin-left: -11px
		width: 22px
		height: 32px
		border-radius: 11px
		border: 2px solid $white
		+r(1023)
			display: none
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 3px
			left: 50%
			margin-left: -1px
			width: 2px
			height: 8px
			background-color: $white
			animation: mouse 2s linear infinite
			transition: all 0.5s
	&__info
		float: right
		font-size: 14px
		color: $white
		line-height: 1
		transition: all 0.5s
		+pie-clearfix
		+r(1023)
			float: none
			line-height: 25px
	&__email
		float: left
		+r(1023)
			display: block
			float: none
			max-width: 65%
			margin-left: auto
			margin-right: auto
			text-align: center
	&__phone
		margin-left: 87px
		float: left
		+r(1023)
			display: block
			float: none
			max-width: 65%
			margin-left: auto
			margin-right: auto
			text-align: center
		
@keyframes mouse
	0%
		transform: translateY(0)
	50%
		transform: translateY(5px)
	100%
		transform: translateY(0)
		
#fp-nav.left
	margin-left: calc(50% - 600px)
	top: auto
	left: 28px!important
	bottom: 25px
	+r(1200)
		margin-left: 0
	li
		margin: 0
		padding: 0
		width: 14px
		height: 14px
		&:nth-child(1)
			display: none
		a
			display: block
			padding: 7px
			&:focus,
			&:active
				color: $orange-dark
			span
				background-color: $white
	&.is-active
		li
			a
				span
					background-color: $orange
				&.active
					span
						margin: -2px 0 0 -6px
						width: 12px
						height: 4px
						border-radius: 2px
			&:hover
				a
					span
						margin: -4px 0 0 -4px
						width: 8px
						height: 8px
					&.active
						span
							margin: -2px 0 0 -6px
							width: 12px
							height: 4px
							border-radius: 2px
						
					

/* ===================================
	 Main
	 =================================== */
video
	+r(1279)
		display: none

.title
	margin-bottom: 39px
	+museo-b
	font-size: 40px
	color: $white
	line-height: 1
	text-transform: uppercase
	+r(767)
		margin-bottom: 29px
		font-size: 30px
	&_black
		color: $black
		
		
/* Entry Section
	----------------------------------- */
.entry
	position: fixed
	z-index: 1
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #fff url('../img/video_bg.jpg') center center no-repeat
	background-size: cover
	+r(1023)
		position: relative
		height: 568px
		bottom: auto
	&.is-active
	&__mask
		position: relative
		z-index: 1
		width: 100%
		height: 100%
	&__mask-text
		font-size: 60px
		text-transform: uppercase
		+r(1023)
			font-size: 26px
	&__text
		+museo
		& + &
			+museo-b
			font-weight: bold
	&__box
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
	&__text-fill
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto
		overflow: hidden
		&:before
			content: ''
			position: absolute
			z-index: 2
			top: 0
			left: 0
			right: 0
			bottom: 0
			pointer-events: none
			transition: all 1.4s
		&.is-active:before
			background-color: rgba(0,0,0,.6)
	&__video
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-size: 100% 100%
		background-color: #ffffff
		background-position: center center
		background-size: contain
		object-fit: cover
	&__inverted-mask
		position: absolute
		z-index: 1
		width: 100%
		height: 100%
		top: 0
		left: 0
		cursor: default
		transition: all 1.4s
		&.is-active
			opacity: 0
			transform: scale(2)
	&__mask-shape
		fill: #ffffff
	&__shape-fill
		width: 100%
		height: 100%
		fill: $orange-dark
		transition: all 1.4s
	&__text-transparent
		fill: transparent
		
/* Section #1
	----------------------------------- */
.one
	position: relative
	z-index: 2
	
.section
	position: relative
	z-index: 100
	overflow: hidden
	background: transparent center center no-repeat
	background-size: cover
	transform: translateZ(0)
	+r(1023)
		padding-left: 3px
		padding-right: 3px
	&_empty
		height: 100vh
		+r(1023)
			height: 0
	&__container
		padding-top: 120px
		padding-bottom: 120px
		position: relative
		z-index: 3
		transform: translateZ(0)
		+r(1023)
			padding-top: 40px
			padding-bottom: 40px
	&__quote
		position: absolute
		max-width: 1200px
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0
		padding-left: 150px
		padding-right: 10px
		top: 60px
		color: $grey
		font-style: italic
		line-height: 1
		z-index: 10
		transform: translate3d(0,0,0)
		+r(1023)
			top: 50px
			left: auto
			right: 3px
			text-align: right
			max-width: 60%
			padding-left: 0
			+r(767)
				display: none
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 50%
			left: 120px
			width: 20px
			height: 1px
			background-color: $grey
			+r(1023)
				left: -40px
		&_white
			color: $white
			&:before
				background-color: #fff
	&__video
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-size: 100% 100%
		background-color: #ffffff
		background-position: center center
		background-size: contain
		object-fit: cover
	&__title
		+gutter
		+pre(1)
		+r(767)
			+pre(0)
	&__row
		+pie-clearfix
	&__row + &__title
		margin-top: 69px
		+r(767)
			margin-top: 40px
	&:nth-child(1)
		z-index: -1
		pointer-events: none


/* Section #2
	----------------------------------- */
.task
	+r(1023)
		background: #fff url('../img/video_bg.jpg') center center no-repeat
		background-size: cover
		&:before
			pointer-events: none
			content: ''
			position: absolute
			z-index: 0
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: rgba(41, 36, 36, .6)
			transform: translate3d(0,0,0)
	&__mark
		+pre(1)
		+span(5)
		+r(767)
			+pre(0)
			+span(full)
		& + &
			+pre(0)
			+span(6)
			+r(767)
				margin-top: 20px
				+span(full)
		
.mark
	font-size: 14px
	color: $white
	font-weight: 400
	line-height: 20px
	&__item
		+pie-clearfix
		& + &
			margin-top: 20px
		.icon
			float: left
			position: relative
			top: 1px
			margin-right: 13px
			font-size: 12px
			color: $orange
	&__text
		overflow: hidden
		display: block
		font-size: 14px
		

/* Section #3
	----------------------------------- */
.about
	background: #fff url('../img/about_bg.jpg') center center no-repeat
	background-size: cover
	+r(1023)
		background-position: center bottom
	//&__container
	//	padding-bottom: 200px
	&__overlay
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-color: rgba(244, 244, 243, .8)
		transform: translateZ(0)
	&__text
		+gutter
		+pre(1)
		+span(4.5)
		font-size: 14px
		color: $dimgrey
		line-height: 26px
		+r(767)
			+pre(0)
			+span(full)
		&-orange
			color: $orange
		& + &
			+pre(0.5)
			+r(767)
				margin-top: 14px
				+pre(0)
	&__subtitle
		margin-top: 47px
		margin-bottom: 27px
		+gutter()
		+pre(1)
		+museo
		font-size: 20px
		color: #1f1f1f
		line-height: 1
		text-transform: uppercase
		+r(767)
			margin-top: 36px
			+pre(0)
		
.excel
	+pie-clearfix
	&__col
		+pre(1)
		+span(3)
		+r(1023)
			+span(4.5)
			+r(767)
				+pre(0)
				+span(full)
			&:nth-child(even)
				+pre(0.5)
				+r(767)
					+pre(0)
			&:last-child
				+span(full)
	&__item
		margin-bottom: 26px
		+pie-clearfix
	&__col:last-child &__item:last-child
		margin-bottom: 0
	&__number
		float: left
		position: relative
		top: 3px
		margin-right: 14px
		+museo
		width: 36px
		height: 36px
		border-radius: 50%
		background-color: $orange
		color: #ffffff
		font-size: 20px
		line-height: 36px
		text-align: center
	&__text
		overflow: hidden
		font-family: 'PT Sans', $default-fonts
		font-size: 14px
		color: $dimgrey
		font-weight: 400
		line-height: 26px
	&__col:last-child &__text
		padding-top: 8px
		
/* Section #4
	----------------------------------- */
.service
	transform: translateZ(0)
	background: #fff url('../img/service_bg.jpg') center center no-repeat
	background-size: cover
	&__overlay
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-color: rgba(52, 52, 52, .8)
		transform: translateZ(0)
	&__col
		+gutter
		+pre(1)
		+span(5)
		& + &
			+pre(0)
		+r(1023)
			+span(10)
			& + &
				+pre(1)
		+r(767)
			+pre(0)
			+span(full)
			& + &
				+pre(0)
	&__text
		margin-bottom: 26px
		font-size: 14px
		color: $grey-light
		line-height: 26px
		+r(767)
			margin-bottom: 14px
	&__btn
		position: relative
		left: gutter()
		+pre(1)
		margin-top: 7px
		+r(767)
			+pre(0)
		

/* Section #5
	----------------------------------- */
.whom
	position: relative
	background: transparent url('../img/bg/bg_7.jpg') center center no-repeat
	background-size: cover
	transform: translateZ(0)
	&:before
		content: ''
		position: absolute
		z-index: 0
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, .8)
	&__container
		padding-bottom: 200px
		+r(1023)
			padding-bottom: 0
	&__bg
		display: none
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-position: center center
		background-size: cover
		background-color: #ffffff
		z-index: 0
		pointer-events: none
		transform: translateZ(0)
		+r(1023)
			&:first-child
				display: block
				z-index: 1
		&_1
			background-image: url('../img/bg/bg_1.jpg')
		&_2
			background-image: url('../img/bg/bg_2.jpg')
		&_3
			background-image: url('../img/bg/bg_3.jpg')
		&_4
			background-image: url('../img/bg/bg_4.jpg')
		&_5
			background-image: url('../img/bg/bg_5.jpg')
		&_6
			background-image: url('../img/bg/bg_6.jpg')
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			pointer-events: none
			background-color: rgba(255,255,255,.8)

.for
	font-size: 0
	&__item
		cursor: pointer
		position: relative
		z-index: 1
		+pre(0.7)
		+span(3.2)
		padding: 30px
		float: none
		display: inline-block
		vertical-align: top
		transition: transform 0.3s
		user-select: none
		+r(1023)
			float: left
			+pre(0)
			width: auto
			padding-top: 0
			padding-bottom: 100px
			+gutter
		&:hover,
		&.is-active
			background-color: #ffffff
			transform: translateY(-20px)
			+r(1023)
				background-color: transparent
				transform: translateY(0)
	&__img
		position: relative
		margin-bottom: 18px
		font-size: 0
		width: 87px
		height: 87px
		border-radius: 50%
		border: 3px solid $orange
		text-align: center
		transition: all 0.3s
		+vertical
		&:nth-child(5)
			width: 45px
			height: 45px
		.icon
			font-size: 45px
			color: $orange
			vertical-align: middle
			transition: all 0.3s
	&__item:hover &__img
		background-color: $orange
		+r(1023)
			background-color: transparent
		.icon
			color: $white
			+r(1023)
				color: $orange
	&__title
		+museo
		color: $grey-text
		font-size: 16px
		line-height: 24px
	&__hidden
		position: absolute
		padding: 0 30px 30px
		left: 0
		right: 0
		top: 100%
		overflow: hidden
		display: none
		background-color: #ffffff
		transform: translateZ(0)
		+r(1023)
			display: block
			position: relative
			padding: 0
			top: auto
			margin-top: 20px
			background-color: transparent
	&__desc
		font-family: 'PT Sans', $default-fonts
		font-size: 14px
		color: #6b6b6b
		font-weight: 400
		line-height: 26px
	&__btn
		position: relative
		font-family: 'PT Sans', $default-fonts
		display: inline-block
		font-size: 14px
		line-height: 26px
		color: $orange
		text-decoration: underline
		&:before
			content: '→'
			position: absolute
			top: 0
			right: -20px
			transition: all 0.2s
		&:hover
			text-decoration: underline
			&:before
				right: -25px
	.for__prev,
	.for__next
		position: absolute
		z-index: 10
		bottom: 50px
		font-size: 0
		.icon
			font-size: 21px
			color: $orange-dark
		&.slick-disabled
			opacity: 0.3
	.for__prev
		left: gutter()
		transform: rotate(180deg)
	.for__next
		right: gutter()
		
.paging
	display: none
	position: absolute
	left: 50%
	bottom: 52px
	color: #555555
	+museo
	font-size: 16px
	line-height: 1
	width: 30%
	text-align: center
	transform: translateX(-50%)
	+r(1023)
		display: block

.inform
	position: relative
	z-index: 2
	background: #fff url('../img/inform_bg.jpg') center center no-repeat
	background-size: cover
	transform: translateZ(0)
	+r(1023)
		padding-top: 40px
	+r(767)
		padding-top: 0
	&__quote
		+r(1023)
			top: 30px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(53, 53, 53, .9)
		z-index: 0

/* Section #6
	----------------------------------- */
.cards
	transform: translateZ(0)
	+gutter
	+pre(1)
	+pie-clearfix
	+r(767)
		+pre(0)
	&__item
		overflow: hidden
		position: relative
		height: 202px
		transform: translateZ(0)
		transition: all 0.3s
		& + &
			+r(767)
				margin-top: 20px
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			transform: translateZ(0)
			transition: all 0.3s
		&:after
			pointer-events: none
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(50, 50, 50, .5)
			transform: translateZ(0)
			transition: all 0.3s
		&:hover
			&:before
				transform: scale(1.1)
			&:after
				background-color: rgba(50, 50, 50, 0)
		&:nth-child(1)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/1.jpg')
			+r(767)
				+span(full)
		&:nth-child(2)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/2.jpg')
			+r(767)
				+span(full)
		&:nth-child(3)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/3.jpg')
			+r(767)
				+span(full)
		&:nth-child(4)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/4.jpg')
			+r(767)
				+span(full)
		&:nth-child(5)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/5.jpg')
			+r(767)
				+span(full)
		&:nth-child(6)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/6.jpg')
			+r(767)
				+span(full)
		&:nth-child(7)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/7.jpg')
			+r(767)
				+span(full)
	&__text
		position: absolute
		z-index: 3
		top: auto
		max-width: 70%
		left: 15px
		bottom: 15px
		padding: 7px 10px
		+museo-b
		font-size: 18px
		color: $white
		line-height: 24px
		text-transform: uppercase
		text-align: left
		transform: translateZ(0)
		transition: all 0.3s
		+r(1023)
			left: 10px
			bottom: 10px
			max-width: 100%
		+r(767)
			font-size: 26px
			line-height: 35px
	&__item:hover &__text
		background-color: rgba(0,0,0,.25)
		
/* ===================================
	 Side
	 =================================== */
.side
	display: none
	flex-wrap: nowrap
	flex-direction: column
	align-items: flex-start
	overflow-y: scroll
	position: fixed
	z-index: 0
	top: 0
	left: 0
	bottom: 0
	width: 260px
	background-color: #f6f6f6
	padding: 26px 0
	transform: translate3d(0,0,0)
	+r(1023)
		display: flex
	&__row
		+pie-clearfix
	&__inner
		margin-bottom: 50px
		align-self: stretch
		transition: all 0.2s
	&__btn
		display: block
		flex: auto 0 0
		align-self: stretch
		margin: auto 36px 26px 26px
		padding: 16px 0 12px
		text-align: center
		+museo-b
		font-size: 13px
		background-color: #ffba00
		border: 2px solid #ffba00
		&:after
			content: none
			display: none
		&:hover
			width: auto
	&__contacts
		flex: auto 0 0
		align-self: stretch
		margin-left: 26px
	&__back
		position: absolute
		top: -53px
		left: 0
		padding-left: 26px
		width: 100%
		height: 53px
		+museo
		font-size: 16px
		color: #ffffff
		line-height: 53px
		text-align: left
		background-color: #1e1e1e
		transition: all 0.2s
		&.is-active
			top: 0
			transition: all 0.2s
	
.menu
	position: relative
	+museo
	color: $black
	line-height: 25px
	&__link
		position: relative
		display: block
		padding: 10px 26px
		&_parent
			&:before
				content: ''
				position: absolute
				right: 20px
				top: 50%
				margin-top: -2px
				+arr(3,5,$orange-dark,r)
		
.menus
	display: none
	margin-top: 40px
	position: relative
	+museo
	color: $black
	line-height: 25px
	&__link
		position: relative
		display: block
		padding: 10px 26px
		
.contacts
	&__link
		display: block
		font-size: 0
		& + &
			margin-top: 3px
		&-text
			font-size: 14px
			color: #555555
			line-height: 24px
			vertical-align: middle
		.icon
			margin-right: 12px
			font-size: 21px
			color: #ffb238
			vertical-align: middle
		&_mail
			.icon
				font-size: 16px
	&__link
		&_mail &-text
			text-decoration: underline
	

/* ===================================
	 Loader
	 =================================== */
.loader
	position: fixed
	z-index: 150
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #e36f34
	+vertical
	text-align: center
	&__svg
		overflow: visible
		height: 10vh
		animation: animate-svg 0.5s alternate infinite ease
	&__1
		fill: #ffffff
		animation: animate-logo 0.5s alternate infinite ease
	&__2
		fill: #ffffff
		animation: animate-logo 0.5s alternate infinite ease
	&__3
		animation: animate2-svg 0.5s alternate infinite ease
		transform-origin: center center

@keyframes animate-logo
	0%
		opacity: 0.9
	100%
		opacity: .65

@keyframes animate-svg
	0%
		transform: translateY(0) translateZ(0)
	100%
		transform: translateY(-10px) translateZ(0)

@keyframes animate2-svg
	0%
		opacity: 0.3
		transform: translateY(0) scale(1.1) translateZ(0)
	100%
		opacity: 0.1
		transform: translateY(3px) scale(0.85) translateZ(0)
	

/* ===================================
	 Other Styles
	 =================================== */

