// fonts
$default-fonts: Arial, sans-serif
//=sans
	font-family: 'Open Sans', $default-fonts
+font('Museo Sans Regular', 'MuseoSansRegular')
+font('Museo Sans Black', 'MuseoSansBlack')
=museo
	font-family: 'Museo Sans Regular', $default-fonts
=museo-b
	font-family: 'Museo Sans Black', $default-fonts

// colors
$white: #ffffff
$black: #1e1e1e
$dimgrey: dimgrey
$orange: #ff8400
$grey: #6c6c6c
$orange-dark: #f26924
$grey-light: #cecdcd
$grey-text: #434444


/* ===================================
	 Main Styles
	 =================================== */
body
	min-width: 320px
	font-size: 16px
	font-family: 'PT Sans', $default-fonts
	color: #text-grey
	font-weight: normal
	line-height: 1.857143

.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	//padding-bottom: 40px

.container
	+container
	//transition: all 0.3s


/* Helpers
	----------------------------------- */
button
	background-color: transparent

a:hover, a:focus
	text-decoration: none

a
	color: inherit
	text-decoration: none

table
	vertical-align: top

img
	vertical-align: top

.icon
	display: inline
	vertical-align: middle

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.cfx
	+pie-clearfix
	
svg:not(:root)
	overflow: hidden

// *
// 	+selection
// 		color: #fff
// 		background-color: $red



/* ===================================
	 Header
	 =================================== */
.header
	pointer-events: none
	position: fixed
	z-index: 5
	top: 0
	left: 0
	right: 0
	padding-top: 33px
	+pie-clearfix
	&__container
		position: relative
	&.is-active
		.logo
			&__img
				.icon
					color: $orange-dark
					transform: scale(1,1)
			&__text
				display: none
	
.logo
	pointer-events: auto
	float: left
	font-size: 0
	+pre(10px)
	&__link
		display: block
	&__img
		display: inline-block
		vertical-align: top
		.icon
			font-size: 58px
			color: #ffffff
			transform: scale(1.15,1.15)
			transition: all 0.5s
	&__text
		overflow: hidden
		position: relative
		display: inline-block
		margin-top: 16px
		margin-left: 12px
		vertical-align: top
		.icon
			font-size: 20px
			transition: all 0.5s
		
.navigation
	pointer-events: auto
	position: relative
	z-index: 11
	float: right
	padding-top: 22px
	font-size: 0
	height: 100%
	+museo
	transform: translateZ(0)
	+gutter
	&__link
		position: relative
		display: inline-block
		font-size: 16px
		color: $white
		line-height: 1
		& + &
			margin-left: 40px
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			width: 0
			height: 2px
			background-color: #ffffff
			transition: all 0.3s
		&:hover
			&:before
				width: 100%
		
		
.hamburger
	pointer-events: auto
	display: none
	padding: 10px
	position: absolute
	z-index: 10
	right: 0
	cursor: pointer
	transition-property: opacity, -webkit-filter
	transition-property: opacity, filter
	transition-property: opacity, filter, -webkit-filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 12px 0 0
	overflow: visible
	&:hover
		opacity: 0.7
	&__box
		width: 23px
		height: 16px
		display: block
		position: relative
	&__inner
		display: block
		top: 50%
		margin-top: -1px
		width: 23px
		height: 2px
		background-color: $orange-dark
		position: absolute
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform, -webkit-transform
		transition-duration: 0.15s
		transition-timing-function: ease
		&::before, &::after
			width: 23px
			height: 2px
			background-color: $orange-dark
			position: absolute
			transition-property: -webkit-transform
			transition-property: transform
			transition-property: transform, -webkit-transform
			transition-duration: 0.15s
			transition-timing-function: ease
		&::before, &::after
			content: ""
			display: block
		&::before
			top: -7px
		&::after
			bottom: -7px
	&_spin &__inner
		transition-duration: 0.3s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
		&::after
			transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
	&.is-active &__inner
		-webkit-transform: rotate(225deg)
		transform: rotate(225deg)
		transition-delay: 0.14s
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		&::before
			top: 0
			opacity: 0
			transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
		&::after
			bottom: 0
			-webkit-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
	

/* ===================================
	 Footer
	 =================================== */
.footer
	position: fixed
	z-index: 5
	left: 0
	right: 0
	bottom: 0
	padding-bottom: 31px
	transition: all 0.5s
	&.is-hidden
		visibility: hidden
		opacity: 0
		pointer-events: none
		transform: scale(0.8)
	&__mouse
		position: absolute
		z-index: 1
		bottom: 35px
		left: 50%
		margin-left: -11px
		width: 22px
		height: 32px
		border-radius: 11px
		border: 2px solid $white
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 3px
			left: 50%
			margin-left: -1px
			width: 2px
			height: 8px
			background-color: $white
			animation: mouse 2s linear infinite
			transition: all 0.5s
	&__info
		float: right
		font-size: 14px
		color: $white
		line-height: 1
		transition: all 0.5s
		+pie-clearfix
	&__email
		float: left
	&__phone
		margin-left: 87px
		float: left
		
@keyframes mouse
	0%
		transform: translateY(0)
	50%
		transform: translateY(5px)
	100%
		transform: translateY(0)
		
#fp-nav.left
	margin-left: calc(50% - 600px)
	top: auto
	left: 28px!important
	bottom: 25px
	+r(1200)
		margin-left: 0
	li
		margin: 5px 0
		padding: 5px
		width: 6px
		height: 6px
		&:nth-child(1)
			display: none
		a
			display: block
			&:focus,
			&:active
				color: $orange-dark
			span
				background-color: $white
	&.is-active
		li
			a
				span
					background-color: $orange
				&.active
					span
						margin: -2px 0 0 -6px
						width: 12px
						height: 4px
						border-radius: 2px
			&:hover
				a
					span
						margin: -4px 0 0 -4px
						width: 8px
						height: 8px
					&.active
						span
							margin: -2px 0 0 -6px
							width: 12px
							height: 4px
							border-radius: 2px
						
					

/* ===================================
	 Main
	 =================================== */
.title
	margin-bottom: 39px
	+museo-b
	font-size: 40px
	color: $white
	line-height: 1
	text-transform: uppercase
	&_black
		color: $black
		
.btn
	overflow: hidden
	position: relative
	display: inline-block
	padding: 18px 40px 14px
	+museo
	font-size: 14px
	color: $white
	line-height: 1
	text-transform: uppercase
	border: 2px solid $orange
	border-radius: 25px
	&:after
		content: ''
		position: absolute
		z-index: -1
		left: 0
		top: 0
		bottom: 0
		width: 0
		border-radius: 20px
		background-color: $orange
		transition: all 0.3s
	&:hover
		&:after
			width: 105%
		
		
/* Entry Section
	----------------------------------- */
.entry
	position: fixed
	z-index: 1
	top: 0
	left: 0
	right: 0
	bottom: 0
	&.is-active
	&__mask
		position: relative
		z-index: 1
		width: 100%
		height: 100%
	&__mask-text
		font-size: 60px
		text-transform: uppercase
		+r(480)
			transform: scale(0.3)
			transform-origin: 50% 50%
	&__text
		+museo
		& + &
			+museo-b
			font-weight: bold
	&__box
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
	&__text-fill
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto
		overflow: hidden
		&:before
			content: ''
			position: absolute
			z-index: 2
			top: 0
			left: 0
			right: 0
			bottom: 0
			pointer-events: none
			transition: all 0.5s
		&.is-active:before
			background-color: rgba(0,0,0,.6)
	&__video
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-size: 100% 100%
		background-color: #ffffff
		background-position: center center
		background-size: contain
		object-fit: cover
	&__inverted-mask
		position: absolute
		z-index: 1
		width: 100%
		height: 100%
		top: 0
		left: 0
		cursor: default
		transition: all 0.5s
		&.is-active
			opacity: 0
			transform: scale(2)
	&__mask-shape
		fill: #ffffff
	&__shape-fill
		width: 100%
		height: 100%
		fill: $orange-dark
		transition: all 0.5s
	&__text-transparent
		fill: transparent
		
/* Section #1
	----------------------------------- */
.one
	position: relative
	z-index: 2
	
.section
	overflow: hidden
	background: transparent center center no-repeat
	background-size: cover
	transform: translateZ(0)
	&_empty
		height: 100vh
	&__container
		padding-top: 120px
		padding-bottom: 120px
		position: relative
		z-index: 3
		transform: translateZ(0)
	&__quote
		position: absolute
		top: 63px
		float: left
		color: $grey
		font-style: italic
		line-height: 1
		+gutter()
		+pre(2)
		&_white
			color: $white
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 50%
			left: -30px
			width: 20px
			height: 1px
			background-color: $grey
	&__video
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-size: 100% 100%
		background-color: #ffffff
		background-position: center center
		background-size: contain
		object-fit: cover
	&__title
		+gutter
		+pre(1)
	&__row
		+pie-clearfix
	&__row + &__title
		margin-top: 69px
	&:nth-child(1)
		z-index: -1
		pointer-events: none
		

/* Section #2
	----------------------------------- */
.task
	&__mark
		+pre(1)
		+span(5)
		& + &
			+pre(0)
			+span(6)
		
.mark
	font-size: 14px
	color: $white
	font-weight: 400
	line-height: 20px
	&__item
		+pie-clearfix
		& + &
			margin-top: 20px
		.icon
			float: left
			position: relative
			top: 1px
			margin-right: 13px
			font-size: 12px
			color: $orange
	&__text
		overflow: hidden
		display: block
		font-size: 14px
		

/* Section #3
	----------------------------------- */
.about
	&__overlay
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255,255,255,.8)
		transform: translateZ(0)
	&__text
		+gutter
		+pre(1)
		+span(4.5)
		font-size: 14px
		color: $dimgrey
		line-height: 26px
		&-orange
			color: $orange
		& + &
			+pre(0.5)
	&__subtitle
		margin-top: 47px
		margin-bottom: 27px
		+gutter()
		+pre(1)
		+museo
		font-size: 20px
		color: #1f1f1f
		line-height: 1
		text-transform: uppercase
		
.excel
	+pie-clearfix
	&__col
		+pre(1)
		+span(3)
	&__item
		margin-bottom: 26px
		+pie-clearfix
	&__number
		float: left
		position: relative
		top: 3px
		margin-right: 14px
		+museo
		width: 36px
		height: 36px
		border-radius: 50%
		background-color: $orange
		color: #ffffff
		font-size: 20px
		line-height: 36px
		text-align: center
	&__text
		overflow: hidden
		font-family: 'PT Sans', $default-fonts
		font-size: 14px
		color: $dimgrey
		font-weight: 400
		line-height: 26px
		
/* Section #4
	----------------------------------- */
.service
	transform: translateZ(0)
	&__overlay
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0,0,0,.8)
		transform: translateZ(0)
	&__col
		+gutter
		+pre(1)
		+span(5)
		& + &
			+pre(0)
	&__text
		margin-bottom: 39px
		font-size: 14px
		color: $grey-light
		line-height: 26px
	&__btn
		position: relative
		left: gutter()
		+pre(1)
		

/* Section #5
	----------------------------------- */
.whom
	position: relative
	background: transparent url('../img/bg/bg_7.jpg') center center no-repeat
	background-size: cover
	transform: translateZ(0)
	&:before
		content: ''
		position: absolute
		z-index: 0
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255,255,255,.8)
	&__container
		padding-top: 100px
		padding-bottom: 200px
	&__quote
		top: 50px
	&__bg
		display: none
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-position: center center
		background-size: cover
		background-color: #ffffff
		z-index: 0
		pointer-events: none
		transform: translateZ(0)
		&_1
			background-image: url('../img/bg/bg_1.jpg')
		&_2
			background-image: url('../img/bg/bg_2.jpg')
		&_3
			background-image: url('../img/bg/bg_3.jpg')
		&_4
			background-image: url('../img/bg/bg_4.jpg')
		&_5
			background-image: url('../img/bg/bg_5.jpg')
		&_6
			background-image: url('../img/bg/bg_6.jpg')
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			pointer-events: none
			background-color: rgba(255,255,255,.8)

.for
	font-size: 0
	&__item
		cursor: pointer
		position: relative
		z-index: 1
		+pre(0.7)
		+span(3.2)
		padding: 30px
		float: none
		display: inline-block
		vertical-align: top
		transition: transform 0.3s
		&:hover
			background-color: #ffffff
			transform: translateY(-20px)
	&__img
		position: relative
		margin-bottom: 18px
		font-size: 0
		width: 87px
		height: 87px
		border-radius: 50%
		border: 3px solid $orange
		text-align: center
		transition: all 0.3s
		+vertical
		.icon
			font-size: 45px
			color: $orange
			vertical-align: middle
			transition: all 0.3s
	&__item:hover &__img
		background-color: $orange
		.icon
			color: $white
	&__title
		+museo
		color: $grey-text
		font-size: 16px
		line-height: 24px
	&__hidden
		position: absolute
		padding: 0 30px 30px
		left: 0
		right: 0
		top: 100%
		overflow: hidden
		display: none
		background-color: #ffffff
		transform: translateZ(0)
	&__desc
		font-family: 'PT Sans', $default-fonts
		font-size: 14px
		color: #6b6b6b
		font-weight: 400
		line-height: 26px
	&__btn
		position: relative
		font-family: 'PT Sans', $default-fonts
		display: inline-block
		font-size: 14px
		line-height: 26px
		color: $orange
		text-decoration: underline
		&:before
			content: '→'
			position: absolute
			top: 0
			right: -20px
			transition: all 0.2s
		&:hover
			text-decoration: underline
			&:before
				right: -25px
		
.inform
	position: relative
	z-index: 2
	background: #fff url('../img/inform_bg.jpg') center center no-repeat
	background-size: cover
	transform: translateZ(0)
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0,0,0,.9)
		z-index: 0
	&__container
		padding-top: 150px
		padding-bottom: 50px
	&__quote
		top: 50px
		
.cards
	transform: translateZ(0)
	+gutter
	+pre(1)
	+pie-clearfix
	&__item
		overflow: hidden
		position: relative
		height: 202px
		transform: translateZ(0)
		transition: all 0.3s
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			opacity: 0.5
			filter: grayscale(33%)
			transform: translateZ(0)
			transition: all 0.3s
		&:hover
			&:before
				opacity: 1
				filter: grayscale(0)
				transform: scale(1.1)
		&:nth-child(1)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/1.jpg')
		&:nth-child(2)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/2.jpg')
		&:nth-child(3)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/3.jpg')
		&:nth-child(4)
			+span(5.5 no-gutters)
			&:before
				background-image: url('../img/preview/4.jpg')
		&:nth-child(5)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/5.jpg')
		&:nth-child(6)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/6.jpg')
		&:nth-child(7)
			+span(3.66666 no-gutters)
			&:before
				background-image: url('../img/preview/7.jpg')
	&__text
		position: absolute
		z-index: 3
		top: auto
		max-width: 70%
		left: 15px
		bottom: 15px
		padding: 7px 10px
		+museo-b
		font-size: 18px
		color: $white
		line-height: 24px
		text-transform: uppercase
		text-align: left
		transform: translateZ(0)
		transition: all 0.3s
	&__item:hover &__text
		background-color: rgba(0,0,0,.25)
		

/* ===================================
	 Other Styles
	 =================================== */

