footer.footer.js-footer
	.footer__container.container
		button.footer__mouse.js-next-slide
		.footer__info
			a.footer__email(href='mailto:manager@madmonks.ru') manager@madmonks.ru
			a.footer__phone(href='tel:+79091222545') +7 909 122-25-45