.header.js-header
	.header__container.container
		// begin logo
		.logo
			a.logo__link(href="index.html")
				.logo__img
					+i('logo')
				.logo__text
					+i('logo-text')
		// end logo

		//begin hamburger
		.hamburger.hamburger_spin.js-hamburger
			.hamburger__box
				.hamburger__inner
		//end hamburger

		//begin nav
		nav.navigation.js-navigation
			a.navigation__link(href='#') Мы
			a.navigation__link(href='#') Продвижение сайтов
			a.navigation__link(href='#') Отраслевые решения
			a.navigation__link(href='#') Другие услуги
			a.navigation__link(href='#') Портфолио
			a.navigation__link(href='#') Контакты
		//end nav