header.header.js-header
	.header__container.container
		//begin hamburger
		.hamburger.hamburger_spin.js-hamburger
			.hamburger__box
				.hamburger__inner
		//end hamburger

		// begin logo
		.logo
			a.logo__link(href="index.html")
				.logo__img
					+i('logo')
				.logo__text
					+i('logo-text')
		// end logo

		//begin nav
		nav.navigation.js-navigation
			button.navigation__close.js-nav-close
			a.navigation__link(href='#') Мы
			a.navigation__link(href='#') Продвижение сайтов
			a.navigation__link(href='#') Отраслевые решения
			a.navigation__link(href='#') Другие услуги
			a.navigation__link(href='#') Портфолио
			a.navigation__link(href='#') Контакты
			.navigation__foot
				a.navigation__btn.btn(href='#') оставить заявку
				//begin contacts
				.navigation__contacts.contacts
					a.contacts__link(href='tel:+79091222545')
						+i('phone')
						span.contacts__link-text +7 909 122-25-45
					a.contacts__link.contacts__link_mail(href='mailto:manager@madmonks.ru')
						+i('mail')
						span.contacts__link-text manager@madmonks.ru
				//end contacts
		//end nav

		a.header__phone(href="tel:+79091222545")
			+i('phone')
			span.header__phone-text +7 909 122-25-45