header.header
	.container
		// begin logo
		.logo
			a.logo__link(href="index.html")
				.logo__img
					+i('logo')
		// end logo
		//begin nav
		nav.nav
			a.nav__link(href='#') Мы
			a.nav__link(href='#') Продвижение сайтов
			a.nav__link(href='#') Отраслевые решения
			a.nav__link(href='#') Другие услуги
			a.nav__link(href='#') Портфолио
			a.nav__link(href='#') Контакты
		//end nav